- var title = 'Ideas ECO';
- var url = 'http://url.raiz.del.proyecto/';
doctype 5
html(lang="en")
  head
    link(href="css/main.css", rel="stylesheet", media="screen")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0")
    meta(property="og:title", content="Ideas ECO")
   link(rel="shorcut icon", href="favicon.ico")

body
  div.back
    img(src="images/background.jpg", alt="ideas eco")
  ul.menu
    li.membrete
    li.inicio
      a(href="newindex.html") INICIO
    li.que
      a(href="quees.html") QUE ES ideas ECO
    li.como
      a(href="como.html") COMO HACEMOS?
    li.contact.current
      a(href="contacto.html") CONTACTO
    li.tips
      a(href="tips.html") ECO TIPS

  div.container
    div.page.contact
      ul
        h1 Por cualquier consulta, no dudes en comunicarte con nosotros
        form(action="#", method="post")
          .field-container
            input.required(type="text", value="", name="NOMBRE",
            placeholder="NOMBRE")
          .field-container
            input.required(type="text", value="", name="TEL",
            placeholder="TELEFONO")
          .field-container
            input.required.email(type="email", value="",
            name="EMAIL",placeholder="EMAIL")
          .field-container
            textarea.consulta.required(type="text", value="", name="CONSULTA",
            placeholder="CONSULTA")
          a.enviar(href="#", title="Submit", target="_blank")
            span ENVIAR
          div.links
            a(href="www.ideasecopublicidad.com.ar", title="Ideas ECO")
              span www.ideasecopublicidad.com.ar
            a(href="mailto:ventas@ideasecopublicidad.com.ar", title="Mail Ideas ECO")
              span ventas@ideasecopublicidad.com.ar
      div.footer
